<html>
<head>
	<title></title>
</head>
<body>
	<section>
	<h3><%= @newpost.title %></h3>
	<h5> Date </h5>
	<p> <%= @newpost.date %> </p>
	<h5> Content </h5>
	<p> <%= @newpost.content %> </p>
	<h5> Category </h5>
	<p> <%= @newpost.category %> </p>
	<h5> Author </h5>
	<p> <%= @newpost.author %> </p>

	</section>
</body>
</html>